:root {
    --main-color: #0085FF;
    --main-color-rgb: 0, 133, 255;
    --dark: #222;
    --green: #00e39c;
    --green-rgb: 0, 277, 156;
    --red: #E10000;
    --red-rgb: 255, 0, 0;
    --yellow: #E1A200;
    --yellow-rgb: 225, 162, 0;
}
