.field {
    height: 42px;
    width: 100%;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.03);
    border: none;
    text-align: center;
    font-family: 'eUkraineHead', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 0 14px;
    appearance: none;
    color: #999999;

    &::-webkit-input-placeholder {
        color: #999999;
    }
}
