.jobs__list {

}

.jobs__item {
    flex-wrap: nowrap;
    padding: 18px 20px;
    border-bottom: 1px solid #eee;

    &-image {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        flex-grow: 0;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &-content {
        flex-grow: 1;
        padding: 0 0 0 30px;
    }
    &-headline {
        align-items: center;
        margin-bottom: 10px;
    }
    &-title {
        font-family: 'eUkraineHead', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
    }
    &-salary {
        margin-left: auto;
        line-height: 1;

        strong {
            color: var(--main-color);
            font-size: 16px;
            font-weight: normal;
        }
        small {
            font-size: 12px;
        }
    }
    &-add-to-favorites {
        margin-left: 20px;
        width: 32px;
        height: 32px;
        background: #eee;
        border-radius: 10px;
        position: relative;
        border: none;
        cursor: pointer;

        svg {
            position: absolute;
            fill: #9E9E9E;
            top: 50%;
            left: 50%;
            width: 18px;
            height: 18px;
            transform: translate(-50%, -50%);
            transition: opacity .24s ease-in-out;

            &:last-child {
                visibility: hidden;
                opacity: 0;
            }
        }

        &--active {
            background: rgba(var(--main-color-rgb), .1);

            svg {
                fill: var(--main-color);

                &:first-child {
                    visibility: hidden !important;
                    opacity: 0 !important;
                }
                &:last-child {
                    visibility: visible !important;
                    opacity: 1 !important;
                }
            }
        }

        &:hover {
            svg {
                &:last-child {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    &-benefits {
        margin-top: 10px;
        gap: 10px;

        a {
            color: #999;
            font-weight: 400;
            font-size: 12px;
            padding: 8px 15px;
            border-radius: 20px;
            border: 1px solid #eee;
            text-decoration: none;
        }
    }
    &-company {
        align-items: center;
        gap: 20px;
    }
    &-info {
        padding: 0;
        align-items: center;
        text-decoration: none;
        font-size: 12px;
        color: #bbb;

        &-icon {
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;
                fill: currentColor;
            }

            &--left {
                margin-right: 6px;
            }
            &--right {
                margin-left: 3px;
                width: 16px;
                height: 16px;

                svg {
                    fill: var(--main-color);
                }
            }
        }

        &--type {
            padding: 3px 8px;
            background: rgb(var(--green-rgb), .1);
            color: var(--green);
        }
    }
    &-bottom {
        margin-top: 10px;
    }
    &-technologies {
        gap: 10px;

        a {
            color: #999;
            font-weight: 400;
            font-size: 10px;
            padding: 4px 8px;
            border-radius: 20px;
            border: none;
            background: rgba(0, 0, 0, .05);
            text-decoration: none;
        }
    }
    &-match {
        margin-left: auto;
        padding: 4px 8px;
        font-size: 10px;
        font-weight: 400;
        color: #999;
        background: rgba(0, 0, 0, .05);
        border-radius: 20px;
        font-family: 'eUkraineHead', sans-serif;

        &--level-3 {
            background: rgba(var(--green-rgb), .1);
            color: var(--green);
        }
        &--level-2 {
            background: rgba(var(--yellow-rgb), .1);
            color: var(--yellow);
        }
        &--level-1 {
            background: rgba(var(--red-rgb), .1);
            color: var(--red);
        }
    }
    &-added-at {
        color: #999;
        font-weight: 400;
        font-size: 10px;
        padding: 4px 8px;
        border-radius: 20px;
        border: none;
        background: rgba(0, 0, 0, .05);
        text-decoration: none;
        margin-left: 10px;
    }
}
